@font-face {
  font-family: "TeleGroteskNext";
  src: local("TeleGroteskNext"),
    url(./Resources/Fonts/telegrotesknext-regular.woff) format("woff");
}
body {
  margin: 0;
  font-family: "TeleGroteskNext" !important; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
